/** 登陆页css
 Add By Neil 2016-10-13 */
 
.login-box-body {
    color: #0073b7 !important;
    width: 320px;
    height: 299px; 
    float: right; 
    margin-right: 60px;"
}

.logo-image {
	margin-top: 5px;
	margin-left: 15px;
	width: 80px;
	height: 80px;
}

.box-title {
	horizonal-align: middle;
}

.fa-size {
	font-size: 50px;
}

.row-center {
	margin:0 auto;
	text-align:center;
}

.col-center {
	margin:0 auto;
	vertial-align:center;
}

.bg {
    background-image:url(../imgs/login-show.jpg);
    -moz-background-size: 100% 100%; /*  Firefox 3.6 */
    -o-background-size: 100% 100%;/* Opera 9.5 */
    -webkit-background-size: 100% 100%;/* Safari 3.0 */
    background-size: 100% 100%;/*  Firefox 4.0 and other CSS3-compliant browsers */
    -moz-border-image: url(../imgs/login-show.jpg) 0; /* Firefox 3.5 */
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='scale.jpg', sizingMethod='scale');/* for < ie9 */
}

.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(2px); /* Chrome, Opera */
       -moz-filter: blur(2px);
        -ms-filter: blur(2px);    
            filter: blur(2px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false); /* IE6~IE9 */
}

.container > .tjg-bt {
	font-family: SimSun;
	color: white;
	text-align: center;
	font-weight: bold;
}

.container > .tjg-bt {
	margin-top: 70px;
	font-size: 50px;
}

.bottom-icon {
	margin-top: 45px;
}

/* 去掉默认左边 */
.content-wrapper{
	margin-left: 0px;
}

.main-footer{
	margin-left: 0px;
	text-align: center;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

/*
 * Component: Icon-Color
 * ----------------------
 */
.text-red {
  color: #dd4b39 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-black {
  color: #111111 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-gray {
  color: #d2d6de !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #605ca8 !important;
}
.text-maroon {
  color: #d81b60 !important;
}

/*
 * Component: Common-List
 * ----------------------
 */
.item-content{
	-moz-box-align: center;
    -moz-box-pack: justify;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    min-height: 44px;
    padding-left: 0;
    padding-top: 10px;
}

.item_title {
    background-color: #f4f5f9;
    color: #f20612;
    display: inline-block;
    font-size: 15px;
    padding: 0 10px;
}

.list-block ul {
    background: #fff none repeat scroll 0 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}

.list-block ul::before {
    background-color: #c8c7cc;
    bottom: auto;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: auto;
    top: 0;
    transform-origin: 50% 0 0;
    width: 100%;
    z-index: 15;
}

.list-block ul::after {
    background-color: #fff;
}

.list-block ul::after {
    background-color: #c8c7cc;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: auto;
    top: auto;
    transform-origin: 50% 100% 0;
    width: 100%;
    z-index: 15;
}

.list-block li::before {
    background-color: #c8c7cc;
    bottom: auto;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: auto;
    top: 0;
    transform-origin: 50% 0 0;
    width: 100%;
    z-index: 15;
}
